<template>
  <v-container fluid fill-height>
    <v-layout row align-start>
      <v-card width="100%" flat tile>
        <v-img contain height="128" src="/static/img/keep-to-noteriot.png" ref="headerImg"></v-img>
        <v-card-title primary-title>
          <div>
            <div class="headline">Import my notes from Google Keep</div>
          </div>
        </v-card-title>
        <v-card-text>
          <ol>
            <li>
              Go to Google Takeout:
              <a
                href="http://takeout.google.com"
                target="_blank"
                rel="noopener noreferrer"
              >https://takeout.google.com</a>
            </li>
            <li>Click the "Select None" button</li>
            <li>
              Scroll down to "Google Keep", and enable it via the switch. Google
              Keep should be the only item in the list with a blue, 'active'
              switch.
            </li>
            <li>Scroll to the bottom, and click the "Next" button.</li>
            <li>Leave the "Customize archive format" options to their defaults</li>
            <ul>
              <li>File type: .zip</li>
              <li>Archive size (max): 2GB</li>
              <li>Delivery method: Send download link via email</li>
            </ul>
            <li>Click the "Create Archive" button</li>
          </ol>
          <br />
          <p>
            Google may take a little while to prepare your zip file, depending
            on the number of notes that you have.
          </p>
          <p>
            After you have your file downloaded, simply use the Upload Zip File
            field below to upload your archive.
          </p>
        </v-card-text>
        <v-card-actions>
          <v-flex xs12>
            <v-text-field
              label="Upload Zip File"
              @click="pickFile"
              v-model="fileName"
              prepend-icon="mdi-paperclip"
            >
              <v-progress-linear slot="progress" color="accent" height="7" :value="progress"></v-progress-linear>
            </v-text-field>
            <input
              type="file"
              style="display: none"
              ref="zip"
              accept="application/zip, application/x-zip, application/x-zip-compressed"
              @change="onFilePicked"
            />
          </v-flex>
        </v-card-actions>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
// TODO: switch to web-worker implementation
// TODO: check to see if this is a real takeout zip otherwise you can DDOS yourself
import { mapGetters, mapMutations } from 'vuex'

const zip = require('jszip')
const uuidv4 = require('uuid/v4')

export default {
  data: () => ({
    blockstack: window.blockstack,
    fileName: '',
    fileUrl: '',
    zipFile: '',
    el: 0,
    importCounter: 0,
    noteCounter: 0,
    loading: false,
    progress: 0
  }),
  computed: {
    ...mapGetters(['notes'])
  },
  created() {
    this.noteCounter = this.notes.length
  },
  methods: {
    ...mapMutations({
      setSnack: 'setSnack',
      setNotes: 'SET_NOTES'
    }),
    pickFile() {
      this.$refs.zip.click()
    },
    onFilePicked(e) {
      this.loading = true
      this.$refs.headerImg.src = '/static/img/keep-import-animation.png'
      const self = this
      const file = e.target.files
      if (file[0] !== undefined) {
        this.parseData(file[0])
          .then(notesArray => {
            for (let j = 0; j < notesArray.length; j++) {
              self.progress = j / notesArray.length
              if (!notesArray[j].id) {
                notesArray[j].id = uuidv4()
              }
              self.notes.push(notesArray[j])
              self.importCounter += 1
            }
          })
          .then(function() {
            self.setNotes(self.notes)
            self.setSnack(
              self.notes.length - self.noteCounter + ' notes imported!'
            )
            self.$refs.headerImg.src = '/static/img/keep-to-noteriot.png'
            self.$router.push('/notes')
          })
      } else {
        console.log('no file found')
        this.fileName = ''
        this.zipFile = ''
        this.fileUrl = ''
      }
      this.loading = false
    },
    parseData(zipfile) {
      const self = this
      return new Promise((resolve, reject) => {
        zip.loadAsync(zipfile).then(
          function(zip) {
            let fileList = zip.files
            fileList = Object.values(fileList)
            const jsonData = []
            let count = 0
            let reverseArray = fileList.reverse()
            let exitMarked = false
            reverseArray.map((dataR, keyR) => {
              if (!exitMarked) {
                var checkFileR = dataR.name.slice(-4)
                if (
                  checkFileR === 'html' &&
                  dataR.name !== 'Takeout/index.html'
                ) {
                  reverseArray[keyR].exit = true
                  exitMarked = true
                }
              }
            })
            fileList = reverseArray.reverse()
            fileList.map((dataL, keyL) => {
              var checkFile = dataL.name.slice(-4)
              if (checkFile === 'html' && dataL.name !== 'Takeout/index.html') {
                zip
                  .file(dataL.name)
                  .async('string')
                  .then(function(data) {
                    let tag = []
                    let attachments = []
                    let titleDiv = ''
                    let contentDiv = ''
                    let color = ''
                    let shares = []
                    let fave = false
                    let id = uuidv4()
                    if (data) {
                      ++count
                      console.log('Parsing note ', count)
                      var html = document.createElement('html')
                      html.innerHTML = data
                      titleDiv = html.getElementsByClassName('title')[0]
                      titleDiv = titleDiv ? titleDiv.innerText : ''
                      let pinned = html.getElementsByClassName('pinned') || ''
                      if (pinned[0]) {
                        fave = pinned[0].title === 'Note pinned'
                      }
                      contentDiv = html.getElementsByClassName('content')[0]
                      contentDiv = contentDiv ? contentDiv.innerText : ''
                      color = html.getElementsByClassName('note')[0]
                      color = color ? color.classList[1] : ''
                      if (color === 'RED') {
                        color = 'error'
                      } else if (color === 'ORANGE') {
                        color = 'error'
                      } else if (color === 'YELLOW') {
                        color = 'warning'
                      } else if (color === 'GREEN') {
                        color = 'success'
                      } else if (color === 'TEAL') {
                        color = 'accent'
                      } else if (color === 'BLUE') {
                        color = 'info'
                      } else if (color === 'GRAY') {
                        color = 'gray'
                      } else if (color === 'CERULEAN') {
                        color = 'info'
                      } else if (color === 'PURPLE') {
                        color = 'secondary'
                      } else if (color === 'PINK') {
                        color = 'accent'
                      } else if (color === 'BROWN') {
                        color = 'error'
                      } else if (color === 'DEFAULT') {
                        color = 'white'
                      }
                      var heading = html.getElementsByClassName('heading')
                      heading = heading ? heading[0].innerText : Date.now()
                      var labelDiv = html.getElementsByClassName('label-name')
                      if (labelDiv.length !== 0) {
                        for (let i = 0; labelDiv.length > i; i++) {
                          tag.push(labelDiv[i].innerHTML)
                        }
                      }
                      tag.push('Imported')
                      var imgAttach = html.getElementsByTagName('img')
                      if (imgAttach.length !== 0) {
                        console.log(
                          imgAttach.length,
                          ' images to add to add to note ',
                          count
                        )
                        for (let i = 0; i < imgAttach.length; i++) {
                          let dataURI = imgAttach[i].src
                          let mimeString = dataURI
                            .split(',')[0]
                            .split(':')[1]
                            .split(';')[0]
                          let ext = mimeString.split('/')[1]
                          if (!ext) {
                            ext = 'png'
                          }
                          let imgFileName = `images/${id}-${i}.${ext}`
                          self.blockstack.putFile(imgFileName, dataURI).then(
                            val => {
                              console.log(
                                'image ',
                                i + 1,
                                ' successfully saved for note ',
                                count,
                                '. Message: ',
                                val
                              )
                              attachments.push(imgFileName)
                            },
                            reason => {
                              console.log(
                                'image ',
                                i,
                                'note ',
                                count,
                                'error: ',
                                reason
                              )
                            }
                          )
                        }
                      }

                      var sharees = html.getElementsByClassName('sharee')
                      if (sharees.length !== 0) {
                        for (let i = 0; sharees.length > i; i++) {
                          shares.push(sharees[i].innerText)
                        }
                      }
                    }
                    let tempObj = {
                      id: id,
                      title: titleDiv || '',
                      text: contentDiv || '',
                      color: color || 'NONE',
                      fave: fave,
                      trash: false,
                      tags: tag,
                      attachments: attachments,
                      shares: shares,
                      created: heading,
                      modified: Date.now()
                    }

                    jsonData.push(tempObj)
                    if (dataL.exit) {
                      resolve(jsonData)
                    }
                  })
                  .catch(err => {
                    console.log('Error parsing note: ', err)
                  })
              }
            })
          },
          function() {
            console.log('Not a valid zip file')
            reject(new Error('Not a valid zip file'))
          }
        )
      })
    }
  }
}
</script>